<nav class="relative w-full flex flex-wrap items-center justify-between bg-[#111827] text-white">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <div class="container-fluid flex items-center">
        <img src="../imgs/logo1.png" alt="" class="max-w-md nav--logo" style="height: 70px">
        <div class="search bg-gray-200 mt-1 px-1 rounded flex">
            <i class="fas fa-search p-1 flex justify-center items-center"></i>
            <input type="text" placeholder="Search" class="bg-transparent p-1 outline-none ">
          </div>
      </div>

      <div>
        <ul class=" h-full flex justify-center items-center">

            <li class="h-full border-b-2 border-black">
              <a href="/feed" class="h-full flex flex-col justify-between items-center text-center text-black p-1 px-2 ">

                <i class="fas fa-home text-xl relative text-white"></i>
                
                <span class="text-white">
                  Home   
                </span>
              </a>
            </li>

            <!-- <li class="h-full">
              <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1 px-2">

                <i class="fas fa-user-friends text-xl relative text-white"></i>
                
                <span class="text-white">
                  My Network  
                </span>
              </a>
            </li> -->

            <li class="h-full">
              <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1  px-2">

                <i class="fas fa-comment-dots text-xl relative text-white">
                  
                  <span class="badge absolute top-0 left-2.5 block w-5 h-5 bg-red-600 rounded-full text-white text-sm font-sans font-light">3</span>
                </i>
                
                <span class="text-white">
                  Messaging  
                </span>
              </a>
            </li>
           
            <li class="h-full">
              <a href="#" class="h-full flex flex-col justify-between items-center text-center text-gray-600 hover:text-black p-1  px-2">
                <i class="fas fa-bell text-xl relative text-white">
                  <span class="badge absolute top-0 left-2.5 block w-5 h-5 bg-red-600 rounded-full text-white text-sm font-sans font-light">8</span>
                </i>
                
                <span class="text-white">
                  Notifications  
                </span>
              </a>
            </li>

            <li class="h-full">
              <a href="/profile" class="h-full flex flex-col justify-between items-center text-center p-1 px-2">
                <i class="fas fa-user-friends text-xl relative text-white"></i>
                <span class="text-white"> Profile</span>
              </a>
            </li>

            
            <li class="h-full">
              <a href="/logout" class="h-full flex flex-col justify-between items-center text-center p-1 px-2">
                <i class="fa-solid fa-user"></i>
                <span class="text-white"> Logout</span>
              </a>
            </li>
          </ul>
    </div>
    </div>
</nav>